/* ==== FOOTER ==== */
#footer {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.footer__img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(25%);
    z-index: -1;
}

.footer__heading {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: var(--gray);
}

.footer__contact {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.footer__contact a {
    text-decoration: none;
    color: var(--gray);
}

.footer__contact a:hover {
    color: var(--green-light);
    transition: var(--smooth);
    transform: scale(1.2);
}

.footer__dec {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-45%);
    z-index: -1;
}

@media (min-width: 62em) {
    .footer__img {
        top: -15%;
        right: 0;
        transform: translateX(32%);
        width: 60%;
    }

    .footer__heading {
        text-align: center;
        margin: 0 0 0 30px;
    }

    .footer__heading .banner__socials {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .footer__contact {
        display: flex;
        justify-content: space-between;
    }
}
